/* General style rules */
@font-face {
    font-family: W95FA;
    src: url(fonts/w95fa.woff);
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    margin-top: 0;
    margin-left: 0;
}

h1{
    color:#555;  /* WIP */
}

.desktop{
    width: 100%;
    height: 95%;
    background-color: #00807f;
    
    /* TODO: make a container that acts like the Windows desktop */
}

.start_minimized {
    align-self: center;
    width: inherit;
    margin: 5px;
    height: 68%;
    
}

.taskbar{
    display: flex;
    position: fixed;
    bottom: 0;
    font-family: 'W95FA';
    width: 100%;
    overflow: auto;
    height: 5%;
    min-height: 35px;
    /* border: #333; */
    border-style: outset;
    border-width: 2px;
    background-color: #a0a0a4;
    z-index: 11;
}

.start_button{
    display: flex;
    align-self: center;
    border: outset;
    margin: 0px 7px 0px 2px;
    width: 70px;
    height: 68%;
}

.start_button span {
    align-self: center;
    margin-left: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
.start_button:active {
    border:inset;
}

.start_tools {
    display: flex;
    justify-self: end;
    margin: 0px 5px 0px 2px;
}

.start_tools_clock {
    align-self: center;
    height: 68%;
    width:60px;
    border:inset 2px;
}

.draggable_window{
    position: absolute;
    z-index: 9;
    font-family: 'W95FA';
    background-color: #c0c0c0;
    border: 1px outset;
    text-align: center;
}

.draggable_window .draggable_window_header{
    padding: 5px;
    cursor: move;
    z-index: 10;
    font-family: 'W95FA';
    background-color: #000080;
    color: #f1f1f1;
}
